body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.agenda-container {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

table {
   width:100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #e0e0e0;
}

th, td {
    padding: 20px;
    text-align: left;
}

th {
    background-color: #d1e7dd;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}
.agenda{
    font-size: 1.5rem ;
}
@media (max-width: 768px) {
    .agenda-container {
        padding: 10px;
    }

    .meeting-agenda th, .meeting-agenda td {
        padding: 8px;
    }
} 