 body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
} 

.faq-container {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.faq {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #000000;
    font-weight: 800;
}

.faq-question h3 {
    margin: 0;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    margin: 0;
    padding: 10px 0;
    color: #333;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}
